.toolbar-spacer {
  flex: 1 1 auto;
}

.container {
  display: flex;
  justify-content: center;
}

.content {
  max-width: 800px;
}

.title {
  margin: 20px 0;
}

.top-link,
.top-link:visited {
  color: inherit;
  text-decoration: none;
}
