.toolbar-spacer {
  flex: 1 1 auto;
}

.container {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-flow: row wrap;
  max-width: 800px;
}

.card {
  display: flex;
  flex-flow: column;
  max-width: 300px;
  margin: 30px;
}

.card-content {
  flex-grow: 1;
}

.form-container {
  width: 600px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.top-link,
.top-link:visited {
  color: inherit;
  text-decoration: none;
}
